h1{
    color:red;
    background-color: black;
    font-family: monospace;
    border:groove 10px purple;
    border-radius: 10px;
}

body{
    background-color:gray;
}
#mheader{
    color:red;
    background-color: black;
    border:groove 5px purple;
    border-radius: 5px;
    font-family: monospace;
}

img{
    height: 12vw;
    width: 10vw;
    border-radius: 20px;
}



a:link{
    color:purple;
}

a:hover{
    color:red;
}

#gamelist{
    padding-left: 0px;
    display: flex;
    justify-content: space-evenly;
 


    color:purple;
    list-style-type: upper-roman;
  }

  #gi:hover{
    transform: scale(1.5);
  }


    
